:root {
    --base: #212529;
    --white: #ffffff;
    --blueDark: #259eb3;
    --bluePrimary: #4dbed2;
    --blueLight: #81dded;
    --grey: #cccccc;
    --yellow: #f7c507;
}

@import "./fonts";
@import "./mixins";
@import "./reset";

.orangeBtn {
    text-transform: uppercase;
    @include toRem('font-size', 21);
    padding: 10px 42px;
    margin: 0 auto;
    color: var(--white);
    background-image: linear-gradient(to bottom, #fae490 0%, #f7c507 100%);
    background-size: 100% 200%;
    background-position-y: 100%;

    @media (hover) {
        &:hover {
            background-position-y: 0;
        }
    }
}